<a href="https://colab.research.google.com/github/ranamaddy/Machine-learning-course/blob/main/1_4_input_process_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# intput  keyword input()
# process
# output    print()

In [2]:
a = int(input("enter the value "))
r= a*2
print(r)

enter the value 12
24

AVG of 3 numbers

In [4]:

a = int(input("enter value 1 "))
b = int(input("enter value 2 "))
c = int(input("enter value 3 "))
avg = (a+b+c)/3

print(avg)

enter value 1 3
enter value 2 4
enter value 3 5
4.0

In [5]:
bookq = int(input("enter book quantity"))
price= bookq*10
print(price)

enter book quantity5
50

paper 3 subject each 100
total marks 300

In [6]:
p1= int(input("enter marks p1 "))
p2= int(input("enter marks p2 "))
p3= int(input("enter marks p3 "))
pc = (p1+p2+p3)/300 *100
print(pc)

enter marks p1 50
enter marks p2 50
enter marks p3 50
50.0

In [8]:
# input 1st value  in a
a= int(input("enter value"))
# input 2 value in b
b= int(input("enter value"))
# calculate result on formula
fr=a**2 + b**2 + 2*a*b
# display the result
print(fr)

enter value2
enter value3
25

In [9]:
# input the radius of the circle
r = float(input("Enter the radius of the circle: "))
# calculate the area of the circle
area = 3.14 * r**2
# display the area of the circle
print("The area of the circle is:", area)

Enter the radius of the circle: 34
The area of the circle is: 3629.84